@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/Inter-Thin.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Inter-Light.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Inter-LightItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Italic.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-[10px] md:text-[12px] lg:text-[12px] xl:text-[14px] 2xl:text-[16px];
}

body {
  font-family: "Inter";
  font-weight: 400;
  color: #414042;
}

#main {
}

.h2 {
  @apply text-3xl;
  @apply mb-[56px];
  font-weight: 700;
  color: #000;
}

.sectionp {
  @apply my-[125px];
}
.sectionp p:first-of-type {
  font-weight: 700;
  color: #000;
  @apply text-3xl max-w-[730px] mb-[56px];
}

.sectionp p {
  font-weight: 300;
  @apply text-xl max-w-[730px];
}
@layer utilities {
  .text-upright {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    @apply rotate-180 leading-[1.2]
  /* transform: var(--tw-transform); */;
  }
}

.tabhover {
  position: relative;
}
.tabhover:before {
  top: 100%;
  border-top: solid 0px #010101;
  -webkit-transition: border-width ease-out 0.3s;
  -moz-transition: border-width ease-out 0.3s;
  transition: border-width ease-out 0.3s;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
}

.tabhover:after {
  top: 100%;
  border-top: solid 0px #fff;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-transition: border-width ease-out 0.3s;
  -moz-transition: border-width ease-out 0.3s;
  transition: border-width ease-out 0.3s;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
}

.tabhover:hover:before {
  border-top-width: 14px;
}

.tabhover:hover:after {
  border-top-width: 14px;
}

.tabhover.is-active:after {
  border-top-width: 20px;
}

.tabhover.is-active:before {
  border-top-width: 20px;
}

.tab-wrap:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 1px solid #010101;
  /* top: 37px; */
  /* z-index: 2222222222222222; */
  height: 1px;
  width: 100%;
  bottom: 15px;
  z-index: -1;
}
